<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("./partials/head") %>
    <title> Home Page </title>
</head>
<body>
    <h1>hejjkbdhv</h1>
    <%- include("./partials/script") %>
</body>
</html>